*{
    margin: 0;
    padding: 0;
}
.box{
    width: 100vw;
    height: 100vh;
}
#shape{
    
    background-color: chartreuse;
    margin: 4%;
    display: none;
    position: relative;

}